<footer>

	<div class="logo_site _1">
		<a href="/accueil"><img src="{{repeat.contenuurl}}{{repeat.logosite}}{{repeat.extensionurl}}" alt="logo de mon site" class="logo"></a>
	</div>


	<ul id="informations_site">

		<li>
			<a href="/mentions-legales">Mentions légales</a>
		</li>

		<li>
			<a href="/a-propos">A propos</a>
		</li>
	</ul>

	<div class="logo_site _2">
		<a href="/accueil"><img src="{{repeat.contenuurl}}{{repeat.logosite}}{{repeat.extensionurl}}" alt="logo de mon site" class="logo"></a>
	</div>


</footer>
