<footer>

	<div class="logo_site _1">
		<a href="index.php"><img src="{{repeat.contenuurl}}{{repeat.logosite}}{{repeat.extensionurl}}" alt="logo de mon site" class="logo"></a>
	</div>


	<ul id="informations_site">

		<li>
			<a href="index.php?route=mentions_legales">Mentions légales</a>
		</li>

		<li>
			<a href="index.php?route=a_propos">A propos</a>
		</li>
	</ul>

	<div class="logo_site _2">
		<a href="index.php"><img src="{{repeat.contenuurl}}{{repeat.logosite}}{{repeat.extensionurl}}" alt="logo de mon site" class="logo"></a>
	</div>


</footer>
