<footer>

	<div class="logo_site _1">
		<a href="index.php"><img src="{{repeat.contenuurl}}{{repeat.logosite}}{{repeat.extensionurl}}" alt="logo de mon site" class="logo"></a>
	</div>


	<ul id="informations_site">

		<li>
			<a href="http://localhost/site internet pêche/codes/machineafish/mentions_legales.html#mentions-legales">Mentions légales</a>
		</li>

		<li>
			<a href="http://localhost/site internet pêche/codes/machineafish/mentions_legales.html#protection-donnees">Politiques de protection des données personnelles</a>
		</li>

		<li>
			<a href="http://localhost/site internet pêche/codes/machineafish/mentions_legales.html#cookies">Cookies</a>
		</li>

		<li>
			<a href="http://localhost/site internet pêche/codes/machineafish/mentions_legales.html#contact">Contact</a>
		</li>
	</ul>

	<div class="logo_site _2">
		<a href="index.php"><img src="{{repeat.contenuurl}}{{repeat.logosite}}{{repeat.extensionurl}}" alt="logo de mon site" class="logo"></a>
	</div>


</footer>
