<div id="navig_fish">

	{% for detailpoisson in detailallpoissons %}
		<a href="/{{detailpoisson.nom}}">
			<img class="{{ namepoisson == detailpoisson.nom ? 'poisson_actif' : '' }}" src="{{contenuurl}}{{detailpoisson.image}}{{extensionurl}}" alt="{{detailpoisson.nom}}"/>
		</a>
	{% endfor %}
</div>
