{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="assets/css/detail_poisson.css">
{% endblock %}

{% block title %}
	{{namepoisson}}
{% endblock %}

{% block description %}
	Description du
	{{namepoisson}}: morphologie, habitats, alimentation, reproduction
{% endblock %}

{% block main %}
	<main>
		{% include "partials/_poissons.html.twig" %}
		<div id="pres_poisson">
			<h1>Le
				{{namepoisson}}</h1>
			<img src="{{imagepoisson}}" alt="{{namepoisson}}">
		</div>

		{% include "partials/_navig-poisson.html.twig" %}

		<section class="sous_partie">
			<h3 id="morphologie">MORPHOLOGIE</h3>
			<div id="taille_poisson">
				{% for info in descriptionpoisson %}
					{% if info.alt == "taille " ~ namepoisson  %}
						<img src="{{info.image}}" alt="taille {{namepoisson}}">
					{% endif %}
				{% endfor %}
			</div>
			<div id="morpho_container">
				<button class="btn-retour-cercle" id="resetBtn">
					<i class="fa-solid fa-arrow-left"></i>
				</button>
				{% for morphologie in descriptionpoisson %}
					{% if morphologie.type_description == "morphologie-bulle" %}
						<div class="photo_morpho">
							<img src="{{morphologie.image}}" alt="{{morphologie.alt}}" class="morpho">
							<p class="description">{{morphologie.description}}</p>
						</div>
					{% endif %}
				{% endfor %}
			</div>

			<div class="synthese">
				<div class="titre_synthese">
					<i class="fa-solid fa-clipboard-list fa-xl" style="color: white"></i>
					<h4>Synthèse pêche:</h4>
				</div>
				<div class="contenu_synthese">
					{% for morphologie in descriptionpoisson %}
						{% if morphologie.type_description == "synthese" %}
							<div class="ligne_contenu">
								<i class="fa-solid fa-check fa-xl"></i>
								<p>{{morphologie.description}}</p>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</section>
			<section class="sous_partie">
				<h3 id="habitats">HABITATS</h3>
				<div class="habitat_title">
					<i class="fa-solid fa-water"></i>
					<h4>MILIEU AQUATIQUE</h4>
				</div>
				<div class="milieu_aquatique">
					{% for milieu in descriptionhabitat %}
						<div class="type_eau">
							<img src="{{milieu.image}}" alt="{{milieu.alt}}">
							<p>{{milieu.habitat}}</p>
						</div>
					{% endfor %}
				</div>

				<div class="condi_habitat">
					<div class="box_habitat">
						<div class="habitat_title">
							<i class="fa-solid fa-wind"></i>
							<h4>INTENSITE COURANT</h4>
						</div>
						<div class="graph">
							<canvas id="jauge_courant"></canvas>
						</div>
					</div>
					<div class="box_habitat">
						<div class="habitat_title">
							<i class="fa-solid fa-temperature-three-quarters"></i>
							<h4>TEMPERATURE</h4>
						</div>
						<div class="graph">
							<canvas id="jauge_temperature"></canvas>
							{% for temperature in descriptionpoisson %}
								{% if temperature.type_description == "temperature" %}
									<span class="temp-label {{temperature.description}}">{{temperature.temperature_value}}°C</span>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>

				<div class="habitat_title">
					<i class="fa-solid fa-location-dot"></i>
					<h4>SPOTS DE PECHE</h4>
				</div>
				<div class="season-switcher">
					<input type="radio" id="saison-pea" name="saison" value="printemps_ete_automne" checked>
					<label for="saison-pea">Printemps-Eté-Autonomne</label>
					<input type="radio" id="saison-hiver" name="saison" value="hiver">
					<label for="saison-hiver">Hiver</label>
				</div>

				<div id="visuelspot">
					{% for spotpea in descriptionspotpea %}
						{% if spotpea.alt is not null %}
							<div class="pea">
								<img src="{{spotpea.image}}" alt="{{spotpea.alt}}">
								<p>{{spotpea.spot}}</p>
							</div>
						{% else %}
							<div class="pea">
								<video autoplay muted loop playsinline preload="auto">
									<source src="{{spotpea.image}}" type="video/mp4"/>
									Votre navigateur ne supporte pas la vidéo
								</video>
								<p>{{spotpea.spot}}</p>
							</div>
						{% endif %}
					{% endfor %}
					{% for spothiver in descriptionspothiver %}
						{% if spothiver.alt is not null %}
							<div class="hiver">
								<img src="{{spothiver.image}}" alt="{{spothiver.alt}}">
								<p>{{spothiver.spot}}</p>
							</div>
						{% else %}
							<div class="hiver">

								<video autoplay muted loop playsinline preload="auto">
									<source src="{{spothiver.image}}" type="video/mp4"/>
									Votre navigateur ne supporte pas la vidéo
								</video>
								<p>{{spothiver.spot}}</p>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</section>

			{# <section class="sous_partie">
				<h3 id="alimentation">ALIMENTATION</h3>
				<br>
				<div class="video_alimentation">
					<lite-youtube class="ma-video" videoid="-mcvqrbQU20"></lite-youtube>
				</div>

				<section id="visuel_animaux">
					<div class="animal1">
						<div class="animal2">
							<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/ablette.webp" alt="ablette">
							<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/carpe.webp" alt="carpe">
							<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/gardon.webp" alt="gardon">
						</div>
						<p>Poissons blancs (ablette, carpe, gardon, brème, rotengle...)</p>
					</div>
					<div class="animal1">
						<div class="animal2">
							<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/silure.webp" alt="silure">
						</div>
						<p>Cannibalisme du silure</p>
					</div>
					<div class="animal1">
						<div class="animal2">
							<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/ecrevisse.webp" alt="ecrevisse">
						</div>
						<p>Ecrevisse</p>
					</div>
					<div class="animal1">
						<div class="animal2">
							<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/corbicule.webp" alt="palourde d'eau douce">
						</div>
						<p>Palourde d'eau douce</p>
					</div>
					<div class="animal1">
						<div class="animal2">
							<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/grenouille.webp" alt="grenouille">
						</div>
						<p>Grenouille</p>
					</div>
					<div class="animal1">
						<div class="animal2">
							<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/caneton.webp" alt="caneton">
							<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/pigeon.png.webp" alt="pigeon">
						</div>
						<p>Canetons, pigeons</p>
					</div>
					<div class="animal1">
						<div class="animal2">
							<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/campagnol.webp" alt="campagnol">
							<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/souris.webp" alt="souris">
						</div>
						<p>Rongeurs (souris, campagnol...)</p>
					</div>
					<div class="animal1">
						<div class="animal2">
							<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/ephemere.webp" alt="ephémère">
							<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/libellule.webp" alt="libellule">
						</div>
						<p>Insectes (libellules, ephémères...)</p>
					</div>
				</section>
			</section>

			<section class="sous_partie">
				<h3 id="reproduction">REPRODUCTION</h3>
				<div class="circle-container">

					<div
						class="cycle">
						<!--svg est une div spéciale qui sert à accueillir des formes type cercle, courbe...-->
						<svg
							width="800" height="800">
							<!--cx="400" ça veut dire que le centre du cercle est en position horizontale 400px du svg et même chose pour le vertical pour cy-->
							<circle
							class="track" cx="400" cy="400" r="260"/>
							<!--cercle blanc-->
							<circle
							class="progress" cx="400" cy="400" r="260"/>
						<!--cercle vert-->
						</svg>
					</div>

					<div class="commentaires">
						<div class="info-box" id="infoBox">
							Cliquez sur une bulle pour découvrir les étapes de reproduction.
						</div>
						<button onclick="undoStep()" class="undo-button">Revenir à la bulle précédente</button>
						<button onclick="return_to_step1()" class="undo-button">Revenir à la configuration de
																																																																																																																																																																																																																																																			                        base</button>
					</div>

				</div>
			</section> #}


		</main>

	{% endblock %}

	{% block javascripts %}
		{# Scripts js pour que les visuels des graphiques marchent et les js de la page marchent également #}
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
		<script>
			const poissonactuel ="{{ namepoisson }}"
		</script>
		<script src="script_detail_poisson.js"></script>


	{% endblock %}
