{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="assets/css/detail_poisson.css">
{% endblock %}

{% block title %}
	{{namepoisson}}
{% endblock %}

{% block description %}
	Description du
	{{namepoisson}}: morphologie, habitats, alimentation, reproduction
{% endblock %}

{% block main %}
	<main>
		{% include "partials/_poissons.html.twig" %}
		<div id="pres_poisson">
			{% if namepoisson == "perche" %}
				<h1>La
					{{namepoisson}}</h1>
			{% else %}
				<h1>Le
					{{namepoisson}}</h1>
			{% endif %}
			<img src="{{contenuurl}}{{detailpoisson.imagepresentation}}{{extensionurl}}" alt="{{namepoisson}}">
		</div>

		{% include "partials/_navig-poisson.html.twig" %}

		<section class="sous_partie">
			<h3 id="morphologie">MORPHOLOGIE</h3>
			<div
				id="taille_poisson">
				{# ~ permet de concaténer des éléments et comme il y a un espace 
																																																																																																																																																après taille juste avant son guillement ça fait "taille brochet" au final par exemple  #}
				<img src="{{contenuurl}}{{detailpoisson.taille}}{{extensionurl}}" alt="taille {{namepoisson}}">
			</div>
			<div id="morpho_container">
				<button class="btn-retour-cercle" id="resetBtn">
					<i class="fa-solid fa-arrow-left"></i>
				</button>
				{% for morphologie in descriptionpoisson %}
					{% if morphologie.type_description == "morphologie-bulle" and morphologie.autresimage is null %}
						<div class="photo_morpho">
							<img src="{{contenuurl}}{{morphologie.image}}{{extensionurl}}" alt="{{morphologie.alt}}" class="morpho">
							<p class="description">{{morphologie.description}}</p>
						</div>

					{% elseif morphologie.type_description == "morphologie-bulle" and morphologie.autresimage is not null %}
						<div class="photo_morpho">
							<div class="morpho_box">
								<img src="{{contenuurl}}{{morphologie.image}}{{extensionurl}}" alt="{{morphologie.alt}}" class="morpho">
								<img src="{{contenuurl}}{{morphologie.autresimage}}{{extensionurl}}" alt="{{morphologie.alt}}" class="morpho">
							</div>
							<p class="description">{{morphologie.description}}</p>
						</div>
					{% endif %}
				{% endfor %}
			</div>

			<div class="synthese">
				<div class="titre_synthese">
					<i class="fa-solid fa-clipboard-list fa-xl" style="color: white"></i>
					<h4>Synthèse pêche:</h4>
				</div>
				<div class="contenu_synthese">
					{% for morphologie in descriptionpoisson %}
						{% if morphologie.type_description == "synthese" %}
							<div class="ligne_contenu">
								<i class="fa-solid fa-check fa-xl"></i>
								<p>{{morphologie.description}}</p>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</section>
			<section class="sous_partie">
				<h3 id="habitats">HABITATS</h3>
				<div class="habitat_title">
					<i class="fa-solid fa-water"></i>
					<h4>MILIEU AQUATIQUE</h4>
				</div>
				<div class="milieu_aquatique">
					{% for milieu in descriptionhabitat %}
						<div class="type_eau">
							<img src="{{contenuurl}}{{milieu.image}}{{extensionurl}}" alt="{{milieu.alt}}">
							<p>{{milieu.habitat}}</p>
						</div>
					{% endfor %}
				</div>

				<div class="condi_habitat">
					<div class="box_habitat">
						<div class="habitat_title">
							<i class="fa-solid fa-wind"></i>
							<h4>INTENSITE COURANT</h4>
						</div>
						<div class="graph">
							<canvas id="jauge_courant"></canvas>
						</div>
					</div>
					<div class="box_habitat">
						<div class="habitat_title">
							<i class="fa-solid fa-temperature-three-quarters"></i>
							<h4>TEMPERATURE</h4>
						</div>
						<div class="graph">
							<canvas id="jauge_temperature"></canvas>
							{% for temperature in descriptionpoisson %}
								{% if temperature.type_description == "temperature" %}
									<span class="temp-label {{temperature.description}}">{{temperature.temperature_value}}°C</span>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>

				<div class="habitat_title">
					<i class="fa-solid fa-location-dot"></i>
					<h4>SPOTS DE PECHE</h4>
				</div>
				<div class="season-switcher">
					<input type="radio" id="saison-pea" name="saison" value="printemps_ete_automne" checked>
					<label for="saison-pea">Printemps-Eté-Autonomne</label>
					<input type="radio" id="saison-hiver" name="saison" value="hiver">
					<label for="saison-hiver">Hiver</label>
				</div>

				<div id="visuelspot">
					{% for spotpea in descriptionspotpea %}
						{% if spotpea.autresimage is null %}
							<div class="pea">
								<img src="{{contenuurl}}{{spotpea.image}}{{extensionurl}}" alt="{{spotpea.alt}}">
								<p>{{spotpea.spot}}</p>
							</div>
						{% else %}
							<div class="pea">
								<div class="animation_saison">
									<img src="{{contenuurl}}{{spotpea.image}}{{extensionurl}}" alt="{{spotpea.alt}}" class="image-base">
									<img src="{{contenuurl}}{{spotpea.autresimage}}{{extensionurl}}" alt="{{spotpea.alt_autresimage}}" class="image-anim">
								</div>
								<p>{{spotpea.spot}}</p>
							</div>
						{% endif %}
					{% endfor %}
					{% for spothiver in descriptionspothiver %}
						{% if spothiver.autresimage is null %}
							<div class="hiver">
								<img src="{{contenuurl}}{{spothiver.image}}{{extensionurl}}" alt="{{spothiver.alt}}">
								<p>{{spothiver.spot}}</p>
							</div>
						{% else %}
							<div class="hiver">
								<div class="animation_saison">
									<img src="{{contenuurl}}{{spothiver.image}}{{extensionurl}}" alt="{{spothiver.alt}}" class="image-base">
									<img src="{{contenuurl}}{{spothiver.autresimage}}{{extensionurl}}" alt="{{spothiver.alt_autresimage}}" class="image-anim">
								</div>
								<p>{{spothiver.spot}}</p>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</section>

			<section
				class="sous_partie">
				{# NE PAS TOUCHER AUX ID DES H3 C'EST IMPORTANT POUR LA NAVIGATION DE LA PAGE#}
				<h3 id="alimentation">ALIMENTATION</h3>
				<br>
				<div id="detail_food">
					<p>{{detailpoisson.descriptionfood}}</p>
				</div>
				{% if detailpoisson.videofood is not null  %}
					<div class="video_fish">
						<lite-youtube class="ma-video" videoid="{{detailpoisson.videofood}}"></lite-youtube>
					</div>
				{% endif %}

				<div id="box_food">
					<button class="prev">&#10094;</button>
					<div id="container_food">
						{% for food in descriptionfood %}
							<div class="food">
								<img src="{{contenuurl}}{{food.image}}{{extensionurl}}" alt="{{food.alt}}">
								<p>{{food.alimentation}}</p>
							</div>
						{% endfor %}
					</div>
					<button class="next">&#10095;</button>
				</div>

			</section>

			<section class="sous_partie">
				<h3 id="reproduction">REPRODUCTION</h3>
				{% if detailpoisson.videoreprod is not null %}
					<div class="video_fish reprod">
						<lite-youtube class="ma-video" videoid="{{detailpoisson.videoreprod}}"></lite-youtube>
					</div>
				{% endif %}
				<div id="box_reprod">
					<div class="progress-track">
						<div class="progress-bar-fill" id="barFill"></div>
						{% for step in reprod %}
							{# loop.index en twig permet de sortir les index des données de reprod (ligne 1=1, ligne2=2...) #}
							{% if loop.index == 1 %}
								<div class="step-bulle active" id="{{loop.index}}">{{loop.index}}</div>
							{% else %}
								<div class="step-bulle" id="{{loop.index}}">{{loop.index}}</div>
							{% endif %}
						{% endfor %}
					</div>


					<div class="slider-window">
						<button class="prev reprod">&#10094;</button>
						<div id="container_reprod">
							{% for step in reprod %}
								{% if step.type_description == "reproduction"  %}
									<div class="step_reprod">
										<img src="{{contenuurl}}{{step.image}}{{extensionurl}}" alt="{{step.alt}}">
										<p>{{step.description}}</p>
									</div>
								{% endif %}
							{% endfor %}

						</div>
						<button class="next reprod">&#10095;</button>
					</div>
				</div>


			</div>
		</section>


	</main>
{% endblock %}
{% block javascripts %}
	{# Scripts js pour que les visuels des graphiques marchent et les js de la page marchent également #}
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
	<script>
		const poissonactuel ="{{ namepoisson }}"
	</script>
	<script src="script_detail_poisson.js"></script>
	{{ parent() }}
{% endblock %}
