{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="assets/css/detail_poisson.css">
{% endblock %}

{% block title %}
	{{namepoisson}}
{% endblock %}

{% block description %}
	Description du
	{{namepoisson}}: morphologie, habitats, alimentation, reproduction
{% endblock %}

{% block main %}
	<main>
		{% include "partials/_poissons.html.twig" %}
		<div id="pres_poisson">
			<h1>Le
				{{namepoisson}}</h1>
			<img src="{{imagepoisson}}" alt="{{namepoisson}}">
		</div>

		{% include "partials/_navig-poisson.html.twig" %}

		<section class="sous_partie">
			<h3 id="morphologie">MORPHOLOGIE</h3>
			<div id="taille_poisson">
				{% for info in descriptionpoisson %}
					{% if info.alt == "taille " ~ namepoisson  %}
						<img src="{{info.image}}" alt="taille {{namepoisson}}">
					{% endif %}
				{% endfor %}
			</div>
			<div id="morpho_container">
				<button class="btn-retour-cercle" id="resetBtn">
					<i class="fa-solid fa-arrow-left"></i>
				</button>
				{% for morphologie in descriptionpoisson %}
					{% if morphologie.type_description == "morphologie-bulle" %}
						<div class="photo_morpho">
							<img src="{{morphologie.image}}" alt="{{morphologie.alt}}" class="morpho">
							<p class="description">{{morphologie.description}}</p>
						</div>
					{% endif %}
				{% endfor %}
			</div>

			<div class="synthese">
				<div class="titre_synthese">
					<i class="fa-solid fa-clipboard-list fa-xl" style="color: white"></i>
					<h4>Synthèse pêche:</h4>
				</div>
				<div class="contenu_synthese">
					{% for morphologie in descriptionpoisson %}
						{% if morphologie.type_description == "synthese" %}
							<div class="ligne_contenu">
								<i class="fa-solid fa-check fa-xl"></i>
								<p>{{morphologie.description}}</p>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</section>
			<section class="sous_partie">
				<h3 id="habitats">HABITATS</h3>
				<div class="habitat_title">
					<i class="fa-solid fa-water"></i>
					<h4>MILIEU AQUATIQUE</h4>
				</div>
				<div class="milieu_aquatique">
					{% for milieu in descriptionpoisson %}
						{% if milieu.type_description == "habitat" %}
							<div class="type_eau">
								<img src="{{milieu.image}}" alt="{{milieu.alt}}">
								<p>{{milieu.description}}</p>
							</div>
						{% endif %}
					{% endfor %}
				</div>

				<div class="condi_habitat">
					<div class="box_habitat">
						<div class="habitat_title">
							<i class="fa-solid fa-wind"></i>
							<h4>INTENSITE COURANT</h4>
						</div>
						<div class="graph">
							<canvas id="jauge_courant"></canvas>
						</div>
					</div>
					<div class="box_habitat">
						<div class="habitat_title">
							<i class="fa-solid fa-temperature-three-quarters"></i>
							<h4>TEMPERATURE</h4>
						</div>
						<img id="temperature_silure" src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/jauge_temperature_silure.webp" alt="jauge_temperature">
					</div>


				</div>

				<div class="titre">
					<i class="fa-solid fa-location-dot"></i>
					<h4>SPOTS DE PECHE</h4>
					<select class="saisonselect" onchange="changerVisuel()">
						<option value="">-- Sélectionner une saison --</option>
						<option value="printemps_ete_automne">Printemps/Eté/Automne</option>
						<option value="Hiver">Hiver</option>
					</select>
				</div>

				<div id="visuelspot">
					<section id="visuelspotpea">
						<div class="spot1">
							<div class="spot2">
								<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/fosse.webp" alt="fosse">
							</div>
							<p>Au fond d'une fosse</p>
						</div>
						<div class="spot1">
							<div class="spot2">
								<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/cassantbis.webp" alt="cassant">
							</div>
							<p>Cassant</p>
						</div>
						<div class="spot1">
							<div class="spot2">
								<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/branche_immergee_v3.webp" alt="branche_immergee">
							</div>
							<p>Branche immergée</p>
						</div>
						<div class="spot1">
							<div class="spot2">
								<video autoplay muted loop playsinline preload="auto">
									<source src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/sign/video_machineafish/bras_mort.mp4?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV83NThkZTExZC0wYjhiLTRmNjQtYjdjMS04OTE3OWJjODg5NjkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJ2aWRlb19tYWNoaW5lYWZpc2gvYnJhc19tb3J0Lm1wNCIsImlhdCI6MTc1OTQ0MjgwMywiZXhwIjoxNzkwOTc4ODAzfQ.wSkEsDwfr-zvev-OFy731ixVgGwsK2YEuN41ibsMn4I" type="video/mp4"/>
									Votre navigateur ne supporte pas la vidéo
								</video>
							</div>
							<p>Au fond d'un bras mort</p>
						</div>
						<div class="spot1">
							<div class="spot2">
								<video autoplay muted loop playsinline preload="auto">
									<source src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/sign/video_machineafish/chute_eau_V2.mp4?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV83NThkZTExZC0wYjhiLTRmNjQtYjdjMS04OTE3OWJjODg5NjkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJ2aWRlb19tYWNoaW5lYWZpc2gvY2h1dGVfZWF1X1YyLm1wNCIsImlhdCI6MTc1OTQ0Mjg1MywiZXhwIjoxNzkwOTc4ODUzfQ.tYiUFwJBgaOyd90BC0riJopgoO9DJtny3zZwgZIEQxM" type="video/mp4"/>
									Votre navigateur ne supporte pas la vidéo
								</video>
							</div>
							<p>En périphérie d'une chute d'eau</p>
						</div>
						<div class="spot1">
							<div class="spot2">
								<video autoplay muted loop playsinline preload="auto">
									<source src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/sign/video_machineafish/pierre_dans_eau_V2.mp4?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV83NThkZTExZC0wYjhiLTRmNjQtYjdjMS04OTE3OWJjODg5NjkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJ2aWRlb19tYWNoaW5lYWZpc2gvcGllcnJlX2RhbnNfZWF1X1YyLm1wNCIsImlhdCI6MTc1OTgzNDY5MCwiZXhwIjoxNzkxMzcwNjkwfQ.64xIRBILCUE9v-C_ho7NwxfjwImeHBjha8b183YBUjw" type="video/mp4"/>
									Votre navigateur ne supporte pas la vidéo
								</video>
							</div>
							<p>En aval d'un obstacle immergé</p>
						</div>
						<div class="spot1">
							<div class="spot2">
								<video autoplay muted loop playsinline preload="auto">
									<source src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/sign/video_machineafish/croisement_riviere_V3.mp4?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV83NThkZTExZC0wYjhiLTRmNjQtYjdjMS04OTE3OWJjODg5NjkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJ2aWRlb19tYWNoaW5lYWZpc2gvY3JvaXNlbWVudF9yaXZpZXJlX1YzLm1wNCIsImlhdCI6MTc1OTQ0MjkwMCwiZXhwIjoxNzkwOTc4OTAwfQ.Lhr_dTXlTIz7yjKOTQ9xtPUc7dxolsCgFkvE970tBLI" type="video/mp4"/>
									Votre navigateur ne supporte pas la vidéo
								</video>
							</div>
							<p>Fosse au croisement d'une rivière affluente</p>
						</div>
						<div class="spot1">
							<div class="spot2">
								<video autoplay muted loop playsinline preload="auto">
									<source src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/sign/video_machineafish/pont.mp4?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV83NThkZTExZC0wYjhiLTRmNjQtYjdjMS04OTE3OWJjODg5NjkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJ2aWRlb19tYWNoaW5lYWZpc2gvcG9udC5tcDQiLCJpYXQiOjE3NTk0NDI5MTgsImV4cCI6MTc5MDk3ODkxOH0.q6f449r4CxUN0utJXmGA3fM14LwfJ6K3Kq63RNq2e00" type="video/mp4"/>
									Votre navigateur ne supporte pas la vidéo
								</video>
							</div>
							<p>Pont</p>
						</div>
						<div class="spot1">
							<div class="spot2">
								<video autoplay muted loop playsinline preload="auto">
									<source src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/sign/video_machineafish/arbres_surface_eau_V2.mp4?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV83NThkZTExZC0wYjhiLTRmNjQtYjdjMS04OTE3OWJjODg5NjkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJ2aWRlb19tYWNoaW5lYWZpc2gvYXJicmVzX3N1cmZhY2VfZWF1X1YyLm1wNCIsImlhdCI6MTc1OTQ0Mjk0MSwiZXhwIjoxNzkwOTc4OTQxfQ.AI-QNY3SpMwKYa-kW9E0N0SzDatde766A7dK0AUiYoE" type="video/mp4"/>
									Votre navigateur ne supporte pas la vidéo
								</video>
							</div>
							<p>En profondeur sous les branches d'un arbre</p>
						</div>
					</section>

					{# <section id="visuelspoth">
																																									<div class="spot1">
																																										<div class="spot2">
																																											<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/fosse.webp" alt="fosse">
																																										</div>
																																										<p>Au fond d'une fosse</p>
																																									</div>
																																									<div class="spot1">
																																										<div class="spot2">
																																											<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/cassantbis.webp" alt="cassant">
																																										</div>
																																										<p>Cassant</p>
																																									</div>
																																									<div class="spot1">
																																										<div class="spot2">
																																											<video autoplay muted loop playsinline preload="auto">
																																												<source src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/sign/video_machineafish/bras_mort.mp4?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV83NThkZTExZC0wYjhiLTRmNjQtYjdjMS04OTE3OWJjODg5NjkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJ2aWRlb19tYWNoaW5lYWZpc2gvYnJhc19tb3J0Lm1wNCIsImlhdCI6MTc1OTQ0Mjk3NSwiZXhwIjoxNzkwOTc4OTc1fQ.2ukOWVhrRydVjJIyOlZeavMzuGR-P57Zj24MnURy7Ls" type="video/mp4"/>
																																												Votre navigateur ne supporte pas la vidéo
																																											</video>
																																										</div>
																																										<p>Au fond d'un bras mort</p>
																																									</div>
																																									<div class="spot1">
																																										<div class="spot2">
																																											<video autoplay muted loop playsinline preload="auto">
																																												<source src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/sign/video_machineafish/pont.mp4?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV83NThkZTExZC0wYjhiLTRmNjQtYjdjMS04OTE3OWJjODg5NjkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJ2aWRlb19tYWNoaW5lYWZpc2gvcG9udC5tcDQiLCJpYXQiOjE3NTk0NDI5OTAsImV4cCI6MTc5MDk3ODk5MH0.3Ne9StmfQrEZgwG9a7IzmBkVW9slpJ0iHD6LgqWHF98" type="video/mp4"/>
																																												Votre navigateur ne supporte pas la vidéo
																																											</video>
																																										</div>
																																										<p>Pont</p>
																																									</div>
																																									<div class="spot1">
																																										<div class="spot2">
																																											<video autoplay muted loop playsinline preload="auto">
																																												<source src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/sign/video_machineafish/pierre_dans_eau_V2.mp4?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV83NThkZTExZC0wYjhiLTRmNjQtYjdjMS04OTE3OWJjODg5NjkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJ2aWRlb19tYWNoaW5lYWZpc2gvcGllcnJlX2RhbnNfZWF1X1YyLm1wNCIsImlhdCI6MTc1OTQ0MzAxMCwiZXhwIjoxNzkwOTc5MDEwfQ.G75D6w8Ps6BhHDNkuDtWy4qoQ-LM9N_xsCfZUmug9v0" type="video/mp4"/>
																																												Votre navigateur ne supporte pas la vidéo
																																											</video>
																																										</div>
																																										<p>Obstacle immergé</p>
																																									</div>
																																								</section>
																																							</div>
																																						</section>
																																			
																																						<section class="sous_partie">
																																							<h3 id="alimentation">ALIMENTATION</h3>
																																							<br>
																																							<div class="video_alimentation">
																																								<lite-youtube class="ma-video" videoid="-mcvqrbQU20"></lite-youtube>
																																							</div>
																																			
																																							<section id="visuel_animaux">
																																								<div class="animal1">
																																									<div class="animal2">
																																										<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/ablette.webp" alt="ablette">
																																										<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/carpe.webp" alt="carpe">
																																										<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/gardon.webp" alt="gardon">
																																									</div>
																																									<p>Poissons blancs (ablette, carpe, gardon, brème, rotengle...)</p>
																																								</div>
																																								<div class="animal1">
																																									<div class="animal2">
																																										<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/silure.webp" alt="silure">
																																									</div>
																																									<p>Cannibalisme du silure</p>
																																								</div>
																																								<div class="animal1">
																																									<div class="animal2">
																																										<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/ecrevisse.webp" alt="ecrevisse">
																																									</div>
																																									<p>Ecrevisse</p>
																																								</div>
																																								<div class="animal1">
																																									<div class="animal2">
																																										<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/corbicule.webp" alt="palourde d'eau douce">
																																									</div>
																																									<p>Palourde d'eau douce</p>
																																								</div>
																																								<div class="animal1">
																																									<div class="animal2">
																																										<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/grenouille.webp" alt="grenouille">
																																									</div>
																																									<p>Grenouille</p>
																																								</div>
																																								<div class="animal1">
																																									<div class="animal2">
																																										<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/caneton.webp" alt="caneton">
																																										<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/pigeon.png.webp" alt="pigeon">
																																									</div>
																																									<p>Canetons, pigeons</p>
																																								</div>
																																								<div class="animal1">
																																									<div class="animal2">
																																										<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/campagnol.webp" alt="campagnol">
																																										<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/souris.webp" alt="souris">
																																									</div>
																																									<p>Rongeurs (souris, campagnol...)</p>
																																								</div>
																																								<div class="animal1">
																																									<div class="animal2">
																																										<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/ephemere.webp" alt="ephémère">
																																										<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/libellule.webp" alt="libellule">
																																									</div>
																																									<p>Insectes (libellules, ephémères...)</p>
																																								</div>
																																							</section>
																																						</section>
																																			
																																						<section class="sous_partie">
																																							<h3 id="reproduction">REPRODUCTION</h3>
																																							<div class="circle-container">
																																			
																																								<div
																																									class="cycle">
																																									<!--svg est une div spéciale qui sert à accueillir des formes type cercle, courbe...-->
																																									<svg
																																										width="800" height="800">
																																										<!--cx="400" ça veut dire que le centre du cercle est en position horizontale 400px du svg et même chose pour le vertical pour cy-->
																																										<circle
																																										class="track" cx="400" cy="400" r="260"/>
																																										<!--cercle blanc-->
																																										<circle
																																										class="progress" cx="400" cy="400" r="260"/>
																																									<!--cercle vert-->
																																									</svg>
																																								</div>
																																			
																																								<div class="commentaires">
																																									<div class="info-box" id="infoBox">
																																										Cliquez sur une bulle pour découvrir les étapes de reproduction.
																																									</div>
																																									<button onclick="undoStep()" class="undo-button">Revenir à la bulle précédente</button>
																																									<button onclick="return_to_step1()" class="undo-button">Revenir à la configuration de
																																																																																																																		                        base</button>
																																								</div>
																																			
																																							</div>
																																						</section>
																																						 #}

				</main>

			{% endblock %}

			{% block javascripts %}
				{# Scripts js pour que les visuels des graphiques marchent et les js de la page marchent également #}
				<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
				<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
				<script>
					const poissonactuel ="{{ namepoisson }}"
				</script>
				<script src="script_detail_poisson.js"></script>


			{% endblock %}
