{% extends 'layout.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="assets/css/home_page.css">
	{{parent()}}
{% endblock %}

{% block main %}
	<main id="home_page">
		<div class="video_background">
			<video autoplay muted loop playsinline preload="auto">
				<source src="{{contenuvideo}}{{urlpage}}{{extensionvideo}}" type="video/webm"/>
				Votre navigateur ne supporte pas la vidéo
			</video>
		</div>

		<section class="menu_visuel">
			<a href="index.php?route=poissons" class="lien-menu">
				<img src="{{contenuimage}}{{photopoisson.image}}{{extensionimage}}" alt="poissons">
				<p class="titre-menu">Les poissons</p>
			</a>
			<a href="index.php?route=tutoriels" class="lien-menu">
				<img src="{{contenuimage}}{{imagetuto}}{{extensionimage}}" alt="tutoriels">
				<p class="titre-menu">Tutoriels vidéos</p>
			</a>
			<a href="index.php?route=materiel" class="lien-menu">
				<img src="{{contenuimage}}{{imagematos}}{{extensionimage}}" alt="matériel">
				<p class="titre-menu">Matériel</p>
			</a>
		</section>
	</main>
{% endblock %}
