{% extends 'layout.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="assets/css/home_page.css">
	{{parent()}}
{% endblock %}

{% block main %}
	<main id="home_page">

		<section class="home-intro">

			<div class="video_background">
				<video autoplay muted loop playsinline preload="auto">
					<source src="{{contenuvideo}}{{urlpage}}{{extensionvideo}}" type="video/webm"/>
					Votre navigateur ne supporte pas la vidéo
				</video>
			</div>

			<div class="intro-content">
				<h1>La pêche aux leurres,<br>
					<span class="highlight">enfin accessible.</span>
				</h1>
				<p class="intro-text">
					<strong>Machine@Fish</strong>
					est né d'un constat simple : débuter la pêche ne devrait pas être un casse-tête.<br>
					Fini les heures perdues à chercher des infos contradictoires. Ici, on va droit au but.
				</p>
			</div>
		</section>

		<section class="menu_visuel">
			<a href="/poissons-carnassiers" class="lien-menu">
				<img src="{{contenuimage}}{{photopoisson.image}}{{extensionimage}}" alt="poissons">
				<p class="titre-menu">Comprendre les poissons</p>
			</a>

			<a href="/tutoriels-peche" class="lien-menu">
				<img src="{{contenuimage}}{{imagetuto}}{{extensionimage}}" alt="tutoriels">
				<p class="titre-menu">Tutoriels vidéos</p>
			</a>

			<a href="/questions-materiel" class="lien-menu">
				<img src="{{contenuimage}}{{imagematos}}{{extensionimage}}" alt="matériel">
				<p class="titre-menu">L'équipement parfait</p>
			</a>
		</section>

	</main>
{% endblock %}
