{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="assets/css/materiel.css">
{% endblock %}

{% block title %}
	Listes Materiel
{% endblock %}

{% block description %}
	Materiels personnalisés en fonction des besoins de l'utilisateur (canne,moulinet,fil,leurres)
{% endblock %}

{% block main %}
	<main>
		<h2>Voici la sélection idéale pour votre session de pêche</h2>
		<section id="matos">
			<div class="matos_detail">
				<div class="nom_materiel_container">
					<div class="nom_materiel">
						<h3 class="nom_matos canne">CANNE</h3>
					</div>
				</div>
				<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/canne.webp" alt="logo_canne"/>
				<div class="matos_container">
					<div class="matos_box">
						<div class="matos_titre">
							<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/regle.png" alt="logo_longueur"/>
							<h3>Longueur</h3>
						</div>
						<p>{{ materiel.cannes[0].longueur}}</p>
					</div>
					<div class="matos_box">
						<div class="matos_titre">
							<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/muscle-du-bras.png" alt="logo_puissance"/>
							<h3>Puissance</h3>
						</div>
						<p>{{ materiel.cannes[0].poidsMini ~ "g - " ~ materiel.cannes[0].poidsMaxi ~ "g"}}</p>
					</div>
					<div class="matos_box action">
						<div class="matos_titre">
							<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/action.webp" alt="logo_action"/>
							<h3>Action</h3>
						</div>
						<p>{{ materiel.cannes[0].action}}</p>
					</div>
				</div>
			</div>
			<div class="matos_detail">
				<div class="nom_materiel_container">
					<div class="nom_materiel">
						<h3 class="nom_matos moulinet">MOULINET</h3>
					</div>
				</div>
				<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/moulinet.webp" alt="logo_moulinet"/>
				<div class="matos_container">
					<div class="matos_box">
						<div class="matos_titre">
							<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/regle.png" alt="logo_longueur"/>
							<h3>Taille bobine</h3>
						</div>
						<p>{{ materiel.moulinets[0].tailleBobine}}</p>
					</div>
					<div class="matos_box">
						<div class="matos_titre">
							<img class="logo_fil" src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/ratio.webp" alt="logo_ratio_moulinet"/>
							<h3>Ratio</h3>
						</div>
						<p>{{ materiel.moulinets[0].ratio}}</p>
					</div>
				</div>
			</div>
			<div class="matos_detail">
				<div class="nom_materiel_container">
					<div class="nom_materiel">
						<h3 class="nom_matos fil">FIL</h3>
					</div>
				</div>
				<img src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/fil.webp" alt="logo_fil"/>
				<div class="matos_container">
					<div class="matos_box">
						<div class="matos_titre fil">
							<img class="logo_fil" src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/type_fil.webp" alt="logo_type_fil"/>
							<h3 class="titre_fil">Diamètre Tresse</h3>
						</div>
						<p>{{ materiel.fils[0].epaisseurDeTresse}}</p>
					</div>
					<div class="matos_box">
						<div class="matos_titre fil">
							<img class="logo_fil" src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/type_fil.webp" alt="logo_type_fil"/>
							<h3 class="titre_fil">Diamètre Fluorocarbone</h3>
						</div>
						<p>{{ materiel.fils[0].epaisseurDeFluorocarbone}}</p>
					</div>
				</div>
			</div>
			<div class="matos_detail">
				<div class="nom_materiel_container">
					<div class="nom_materiel">
						<h3 class="nom_matos leurres">LEURRES</h3>
					</div>
				</div>
				<img class="leurre" src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/logo_leurre.webp" alt="logo_leurre"/>
				<div class="leurre_container">
					{% for leurre in materiel.leurres %}
						<div class="leurre-box">
							<img class="photo_leurre" src="{{leurre.url}}" alt="visuel_leurre"/>
							<div class="matos_titre leurre">
								<h3 class="nom_leurre">{{leurre.nom}}</h3>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
	</main>
{% endblock %}
