{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="assets/css/tutoriels.css">
{% endblock %}

{% block title %}
	Tutoriels vidéos apprentissage de la pêche aux leurres
{% endblock %}

{% block description %}
	Tutoriels vidéos apprentissage de la pêche aux leurres (animations de leurres, noeuds, montage, législation)
{% endblock %}

{% block main %}
	<main>
		<div id="navig_tutoriels">
			<button class="filter-btn active" data-filter="all">Tous</button>
			<button class="filter-btn" data-filter="animations-leurres">Animations leurres</button>
			<button class="filter-btn" data-filter="montages">Montages</button>
			<button class="filter-btn" data-filter="noeuds">Noeuds</button>
			<button class="filter-btn" data-filter="couleurs-leurres">Couleurs leurres</button>
			<button class="filter-btn" data-filter="loi">La loi</button>
		</div>

		<section class="list-videos">


			{% for tuto in tutos %}

				{% if tuto.id == 35 %}

					<div class="tuto-card" data-category="{{tuto.categorie}}">
						<a href="{{tuto.video}}" target="_blank" class="reglementation"></a>
						<p>{{tuto.description}}</p>
					</div>

				{% else %}

					<div class="tuto-card" data-category="{{tuto.categorie}}">
						<lite-youtube class="tutos" videoid="{{tuto.video}}"></lite-youtube>
						<p>{{tuto.description}}</p>
					</div>

				{% endif %}

			{% endfor %}


		</section>
	</main>

{% endblock %}


{% block javascripts %}
	<script src="script_tutoriels.js"></script>
	{{ parent() }}
{% endblock %}
